.search {
  display: flex;
  justify-content: space-between;
  height: calc(17vh - 40px);
  min-height: 45px;
}

.btn-search {
  width: 100%;
  max-width: 300px;
  margin: 20px 0 20px 10px;
  border-radius: 4px;
  border: 1px dashed #000;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
  transition: background .25s ease-in-out;

  &:hover {
    background: rgba(19, 203, 112, .4);
  }
}

.table-search {
  border-radius: 4px;
  border: 1px dashed #000;
  margin: 20px 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 18px;
}

.table {
  margin-top: 15px;
  min-height: 650px;
  height: calc(100vh - 7vh - 40px);
  display: flex;
  flex-direction: column;
  max-height: 700px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    border-radius: 4px;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-thumb {
    background: #57b6ff;
    border-radius: 4px;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 5px 5px 0;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2);

    span, button {
      text-align: center;
      overflow-x: hidden;

      &:nth-child(1) {
        text-align: left;
        flex-basis: 10%;
      }

      &:nth-child(2) {
        flex-basis: 10%;
      }

      &:nth-child(3) {
        flex-basis: 25%;
        text-align: left;
        font-weight: 500;
      }

      &:nth-child(4) {
        flex-basis: 10%;
      }

      &:nth-child(5) {
        flex-basis: 15%;
      }

      &:nth-child(6) {
        flex-basis: 25%;
      }

      &:nth-child(7) {
        flex-basis: 10%;
        text-align: right;
      }
    }

    &__img {
      img {
        max-width: 50px;
        height: auto;
        border-radius: 50%;
      }
    }

    &__type {
      &_online {
        color: #13cb70;

        &:before {
          content: '\2713';
        }
      }

      &_offline {
        color: rgba(105, 100, 34, 0.4);
      }
    }
  }

  &__header {
    padding: 10px;
    position: sticky;
    top: 0;
    background: #fff;
    border: 1px dashed #000;

    button {
      cursor: pointer;
      background: none;
      font-weight: 500;
      color: #000;
      border: none;

      &:disabled {
        cursor: inherit;
      }

      &.up {
        &:after {
          content: '\2191';
          position: absolute;
          padding-left: 3px;
          color: #13cb70;
        }
      }
      &.down {
        &:after {
          content: '\2193';
          position: absolute;
          padding-left: 3px;
          color: #13cb70;
        }
      }
    }
  }
}

